@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant/Cormorant-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

.juq_bu {
  display: none;
}

h2 {
  border: 1px solid red;
}

body {
  background: #040A0A;
}

nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 3;
  position: relative;
  background: transparent;
}
nav .logo {
  width: 10%;
}
nav .logo img {
  background: transparent;
}
nav .links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: transparent;
}
nav .links li {
  background: transparent;
}
nav .links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  color: #FFF;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
}
nav .links li a img {
  background: transparent;
}
nav .navinfo {
  width: 20%;
  display: flex;
  gap: 36px;
  margin: 0 auto;
}
nav .navinfo li {
  background: transparent;
}
nav .navinfo li a {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.showback {
  width: 100%;
  position: relative;
}
.showback .first {
  position: absolute;
  top: 0;
  left: 0;
}
.showback .second {
  position: absolute;
  top: 0;
  right: 0;
}
.showback .third {
  position: absolute;
  left: 200px;
}
.showback .fourth {
  position: absolute;
  top: 600px;
  left: 200px;
  z-index: -2;
}
.showback .fifeth {
  position: absolute;
  right: 0;
  top: 600px;
  z-index: -1000;
}

.showcase {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 1;
}
.showcase .slider {
  display: flex;
  margin-top: 113px;
}
.showcase .slider .images {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 400px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.showcase .slider .images::-webkit-scrollbar {
  display: none;
}
.showcase .slider .images .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  transition: all 0.15s;
}
.showcase .slider .images .block .item {
  padding: 20px;
}
.showcase .slider .images .block .item img {
  width: 160px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.showcase .slider .images .block .item img.active {
  transform: scale(1.2);
}
.showcase .slider .images .block .active img {
  transform: scale(1.3);
}
.showcase .slider .icon {
  position: relative;
}
.showcase .slider .icon img:nth-child(1) {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -110px;
  top: -40px;
}
.showcase .slider .icon img:nth-child(2) {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -110px;
  top: 430px;
}
.showcase .magazine {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
.showcase .magazine .infoside h4 {
  color: #FFF;
  font-family: "Cormorant";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.showcase .magazine .infoside .costside {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.showcase .magazine .infoside .costside p {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.showcase .magazine .infoside .costside s {
  color: #555;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.showcase .magazine .infoside p.info1 {
  width: 80%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.showcase .magazine .infoside p.info2 {
  width: 80%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.showcase .magazine .infoside p.info3 {
  width: 80%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.showcase .magazine .infoside .buyside {
  margin-top: 50px;
}
.showcase .magazine .infoside .buyside button {
  width: 255px;
  height: 55px;
  border: 0.5px solid #FFF;
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background: fixed;
}

.moreorder {
  width: 70%;
  margin: 180px auto;
}
.moreorder p.intro {
  color: #D978AC;
  font-family: "Oswald";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.moreorder .allcard {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.moreorder .allcard .card {
  width: 255px;
  height: 237px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5px;
  position: relative;
}
.moreorder .allcard .card .black {
  width: 30px;
  height: 30px;
  background-color: #000;
  border: #000;
  border-radius: 50%;
  position: absolute;
  left: 112.5px;
  top: -15px;
}
.moreorder .allcard .card p.title {
  width: 60%;
  height: 50px;
  margin: 20px auto;
  color: #43FFD2;
  text-align: center;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.moreorder .allcard .card p.info {
  width: 80%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
}

.orderpay {
  margin-top: 200px;
}
.orderpay .slidecon {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.orderpay .slidecon button.first {
  color: #555;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: fixed;
  border: none;
}
.orderpay .slidecon button.first:hover {
  font-size: 22px;
  color: #43FFD2;
}
.orderpay .slidecon button.second {
  color: #555;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: fixed;
  border: none;
}
.orderpay .slidecon button.second:hover {
  font-size: 22px;
  color: #43FFD2;
}
.orderpay .slidecontainer {
  width: 716px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.orderpay .slidecontainer .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.orderpay .slidecontainer .slider:hover {
  opacity: 1;
}
.orderpay .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 2px;
  background: #04AA6D;
  cursor: pointer;
}
.orderpay .slidecontainer .slider::-moz-range-thumb {
  width: 50%;
  height: 2px;
  background: #04AA6D;
  cursor: pointer;
}
.orderpay .paybottom {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.orderpay .paybottom img {
  position: absolute;
  right: -190px;
  top: -200px;
}
.orderpay .paybottom .typepay {
  margin-bottom: 60px;
}
.orderpay .paybottom .typepay h3 {
  color: #D978AC;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.orderpay .paybottom .typepay li {
  color: #FFF;
  margin-bottom: 10px;
}
.orderpay .paybottom .typepay li a {
  color: #FFF;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
}
.orderpay .paybottom .costorder {
  margin-bottom: 60px;
}
.orderpay .paybottom .costorder h3 {
  color: #D978AC;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.orderpay .paybottom .costorder li {
  color: #FFF;
  margin-bottom: 10px;
}
.orderpay .paybottom .costorder li a {
  color: #FFF;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
}
.orderpay .paybottom .costorder li a p {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.orderpay .paybottom .forcedorder h3 {
  color: #D978AC;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.orderpay .paybottom .forcedorder p {
  width: 60%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.orderpay #secondTab {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.orderpay #secondTab .barg {
  position: absolute;
  right: -190px;
  top: -200px;
}
.orderpay #secondTab .infoPart {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.orderpay #secondTab .infoPart h4:nth-child(1) {
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 60px;
}
.orderpay #secondTab .infoPart h4:nth-child(2) {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.orderpay #secondTab .infoPart h4:nth-child(3) {
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 20px;
}
.orderpay #secondTab .infoPart h4:nth-child(4) {
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 5px;
}
.orderpay #secondTab .infoPart .star {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.orderpay #secondTab .infoPart p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.orderpay #secondTab .infoPart textarea {
  width: 540px;
  height: 180px;
  border: 1px solid #555;
  background: fixed;
  color: #555;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  padding: 10px;
}
.orderpay #secondTab .infoPart input {
  width: 540px;
  height: 60px;
  border: 1px solid #555;
  background: fixed;
  color: #555;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  padding: 10px;
}
.orderpay #secondTab .infoPart button {
  width: 255px;
  height: 50px;
  background: #43FFD2;
  color: #000;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
}
.orderpay #secondTab .infoPart span {
  width: 40%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-top: 10px;
}

.morelikely {
  width: 80%;
  height: 900px;
  margin: 0 auto;
  margin-top: 300px;
}
.morelikely h4 {
  width: 83%;
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}
.morelikely .shopside {
  width: 100%;
  position: relative;
  background: #040A0A;
  z-index: -4;
}
.morelikely .shopside .wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.morelikely .shopside .wrapper .wrapper img {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.morelikely .shopside .wrapper .wrapper img:first-child {
  left: -22px;
}
.morelikely .shopside .wrapper .wrapper img:last-child {
  right: -22px;
}
.morelikely .shopside .wrapper .carousel {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.morelikely .shopside .wrapper .carousel .carousel .dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.morelikely .shopside .wrapper .carousel.dragging .carnet {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.morelikely .shopside .wrapper .carousel.no-transition {
  scroll-behavior: auto;
}
.morelikely .shopside .wrapper .carousel::-webkit-scrollbar {
  display: none;
}
.morelikely .shopside .wrapper .carousel .carnet {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.morelikely .shopside .wrapper .carousel .carnet .societe {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.morelikely .shopside .wrapper .carousel .carnet .societe h1 {
  color: #FFF;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 10px 0;
}
.morelikely .shopside .wrapper .carousel .carnet .societe p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.morelikely .shopside .wrapper .carousel .carnet .button {
  width: 80%;
  height: 60px;
  margin: 0 auto;
}
.morelikely .shopside .wrapper .carousel .carnet .button button {
  width: 350px;
  height: 50px;
  border: 0.5px solid #FFF;
  background: transparent;
  color: #FFF;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.morelikely .footertop {
  width: 100%;
  position: relative;
}
.morelikely .footertop .left {
  position: absolute;
  left: -190px;
  bottom: -560px;
}
.morelikely .footertop .right {
  position: absolute;
  right: -190px;
  bottom: -560px;
}

.more {
  position: relative;
  display: flex;
  gap: 20px;
  top: -100px;
  left: 1350px;
}
.more li {
  list-style: none;
}
.more li a {
  color: #D978AC;
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.more a:hover {
  color: #43FFD2;
}

.footer {
  height: 500px;
  position: relative;
  background: #000;
}
.footer .innerfoot {
  width: 80%;
  margin: 100px auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.footer .innerfoot .info1 {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.footer .innerfoot .info1 img {
  width: 25px;
  height: 60px;
  margin-bottom: 10px;
}
.footer .innerfoot .info1 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .innerfoot .info1 p {
  width: 80%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info2 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer .innerfoot .info2 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info3 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .innerfoot .info3 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info4 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.footer .innerfoot .info5 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .innerfoot .info5 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .innerfoot .info5 .innerinfo {
  margin-bottom: 20px;
}
.footer .innerfoot .info5 .socialmedias {
  margin-top: 38px;
}/*# sourceMappingURL=order.css.map */