* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

@font-face {
    font-family: "Oswald";
    src: url("./FontsofFin/Oswald/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Cormorant";
    src: url("./FontsofFin/Cormorant/Cormorant-Regular.ttf");
}

.beginlower {
    width: 100%;
    height: 3500px;
    display: flex;
    flex-direction: column;
    position: relative;

    .derrier_com {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: -3;

        .derrier {
            width: 700px;
            height: 800px;
            background-image: url("./ImagesOfFin/rosedefin.png");
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            gap: 200px;

            .derrier_intro {
                width: 504.417px;
                height: 360.441px;
                transform: rotate(32.828deg);
                flex-shrink: 0;
                margin-top: 300px;
                border-radius: 504.417px;
                background: #7D2253;
                filter: blur(125px);
                z-index: -9;
                position: absolute;
            }


        }

        .derrier_right {
            width: 100%;
            height: 900px;
            background-image: url("./ImagesOfFin/rosedefin2.png");
            background-repeat: no-repeat;
            background-position: right;
            background-position-y: 40px;
            position: absolute;
            z-index: 18;

            .right_interieur {
                width: 300.696px;
                height: 280.609px;
                transform: rotate(32.828deg);
                flex-shrink: 0;
                margin-left: 1160px;
                background: #7D2253;
                filter: blur(125px);
            }

        }


    }

    .idinticatornav {
        width: 80%;
        height: 85px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .secondpart {
            width: 259px;
            height: 55px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: flex-end;

            p {
                color: #43FFD2;
                font-family: "Oswald";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            span {
                color: #FFF;
                font-family: "Oswald";
                font-size: 10px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        .pagenav {
            width: 132px;
            height: 18px;

            p {
                color: #FFF;
                font-family: "Oswald";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.48px;
                text-transform: uppercase;
            }
        }
    }


    .hautgeneral {
        display: flex;
        flex-direction: row;
    }

    nav {
        width: 800px;
        height: 75px;
        margin-top: 20px;
        margin-left: 150px;
        display: flex;


        ul {
            width: 800px;
            height: 71px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .brand {
                width: 32px;
                height: 71px;
            }

            .details {
                width: 705px;
                height: 20px;
                display: flex;
                flex-direction: row;
                gap: 46px;

                li {
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                    list-style: none;

                    a {
                        color: #FFFF;
                        text-decoration: none;
                    }
                }

                .iconsgroup {
                    width: 68px;
                    display: flex;
                    flex-direction: row;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }

        }
    }

    .address {
        width: 315px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 33px;
        margin-left: 100px;
        margin-top: 20px;

        .onepart {
            width: 312px;
            height: 45px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: flex-end;

            p {
                color: #43FFD2;
                font-family: "Oswald";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            span {
                color: #FFF;
                font-family: "Oswald";
                font-size: 10px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        .secondpart {
            width: 259px;
            height: 55px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: flex-end;

            p {
                color: #43FFD2;
                font-family: "Oswald";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.4px;
                text-transform: uppercase;
            }

            span {
                color: #FFF;
                font-family: "Oswald";
                font-size: 10px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .descr_com {
        width: 100%;
        height: 610px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .description {
            width: 80%;
            height: 534px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 auto;


            .descr_catalog {
                width: 975px;
                height: 534px;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                gap: 50px;
                background: rgba(0, 0, 0, 0.30);
                backdrop-filter: blur(10px);

                .descr_filter {
                    width: 870px;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .descrF_haut {
                        width: 600px;
                        height: 120px;

                        .F_haut {
                            width: 530px;
                            height: 120px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;

                            h1 {
                                color: #FFF;
                                font-family: "Cormorant";
                                font-size: 100px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .descrF_bas {
                        width: 860px;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 40px;

                        .F_bas {
                            width: 530px;
                            height: 100px;

                            h2 {
                                color: #FFF;
                                font-family: "Cormorant";
                                font-size: 100px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                            }
                        }

                        .F_title {
                            width: 530px;
                            height: 35px;

                            p {
                                color: #FFF;
                                font-family: "Oswald";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.56px;
                                text-transform: uppercase;
                            }
                        }

                    }
                }

                .descr_button {
                    width: 100%;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button {
                        color: #FFF;
                        font-family: "Oswald";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.48px;
                        text-transform: uppercase;
                        border-radius: 40px;
                    }

                    .button_premier {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        .F1 {
                            width: 170px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F2 {
                            width: 160px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F3 {
                            width: 180px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F4 {
                            width: 223px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F5 {
                            width: 100px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }
                    }

                    .button_second {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        .F6 {
                            width: 142px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F7 {
                            width: 157px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F8 {
                            width: 182px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F9 {
                            width: 86px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F10 {
                            width: 85px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F11 {
                            width: 100px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        #F12 {
                            width: 196px;
                            height: 40px;
                            background: transparent;
                            border-radius: 40px;
                            background: #43FFD2;
                            border: 0.5px solid #FFF;

                            a {
                                text-decoration: none;
                                color: #040A0A;
                                font-family: "Oswald";
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.48px;
                                text-transform: uppercase;
                            }
                        }

                    }

                    .button_last {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        .F13 {
                            width: 173px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F14 {
                            width: 115px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F15 {
                            width: 114px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F16 {
                            width: 184px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F17 {
                            width: 183px;
                            height: 40px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F13 {
                            width: 150px;
                            height: 30px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }

                        .F19 {
                            width: 150px;
                            height: 30px;
                            background: transparent;
                            border: 0.5px solid #FFF;
                        }
                    }
                }
            }

            .social_com {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 120px;

                .social {
                    display: flex;
                    margin-top: 60px;
                }

                .continuation {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    justify-content: flex-end;
                    align-items: flex-end;
                    gap: 20px;


                    .continuation_com {
                        width: 200px;
                        height: 75px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 10px;

                        p {
                            color: #43FFD2;
                            font-family: "Oswald";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 1.6px;
                            text-transform: uppercase;
                        }

                        .call {
                            width: 185px;
                            height: 45px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;

                            button {
                                width: 180px;
                                height: 40px;
                                border-radius: 10px;
                                background: rgba(0, 0, 0, 0.20);
                                backdrop-filter: blur(10px);
                                color: #43FFD2;
                                font-family: "Oswald";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 1.4px;
                                text-transform: uppercase;
                                border: none;
                            }
                        }
                    }

                    .sacamain {
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                        background: rgba(0, 0, 0, 0.20);
                        backdrop-filter: blur(10px);
                        background-image: url("./IconsOfFin/sac.svg");
                        background-position: center;
                        background-repeat: no-repeat;

                        img {
                            margin: 15px 15px;
                        }
                    }

                }
            }
        }

        .select {
            width: 80%;
            height: 45px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 420px;

            select {
                width: 257px;
                height: 40px;
                flex-shrink: 0;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.20);
                backdrop-filter: blur(10px);
                border: none;
                color: #FFF;
                font-family: "Oswald";
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.48px;
                text-transform: uppercase;
            }

            #checkbox_value {
                width: 200px;
                height: 50px;
                background: transparent;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;

                p {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                button {
                    img {
                        background: transparent;
                    }
                }
            }
        }
    }

    .container {
        width: 1000px;
        height: 818px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        gap: 60px;
        margin-top: -100px;
        margin: 20px auto auto 160px;
        position: relative;



        #list {
            width: 100%;
            height: 2150px;
            padding: 20px;
            display: grid;
            column-gap: 1%;
            justify-content: center;
            justify-items: center;
            grid-template-columns: 32.66% 32.66% 32.66%;
            grid-template-rows: 537px;
            column-gap: 30px;

            .items {
                width: 260px;
                height: 485px;
                display: flex;
                flex-direction: column;
                gap: 20px;


                img {
                    width: 255px;
                    height: 335px;
                }

                .title {
                    width: 160px;
                    height: 30px;
                    color: #FFF;
                    font-family: "Oswald";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                }

                .price {
                    width: 72px;
                    height: 21px;
                    color: #FFF;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }


                button {
                    width: 255px;
                    height: 50px;
                    flex-shrink: 0;
                    background: transparent;
                    border: 0.5px solid #FFF;
                    color: #FFF;
                    font-family: "Oswald";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                }
            }
        }


        .filter {
            width: 260px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 818px;
            flex-shrink: 0;
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.30);
            backdrop-filter: blur(10px);

            .item {
                width: 227px;
                height: 55px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                select {
                    border-radius: 5px;
                    background: rgba(0, 0, 0, 0.20);
                    backdrop-filter: blur(10px);
                    color: #FFF;
                    font-family: "Oswald";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    text-transform: uppercase;
                }

                h1 {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                label {
                    color: #FFF;
                    font-family: "Oswald";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    text-transform: uppercase;
                }

                input {
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border-radius: 2px;
                }
            }

            .item {
                width: 227px;
                height: 145px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h2 {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                label {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                input {
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border-radius: 2px;
                }
            }

            .item {
                width: 227px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                label {
                    color: #43FFD2;
                    font-family: "Oswald";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    text-transform: uppercase;
                }

                input {
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border-radius: 2px;
                }
            }

            .item {
                width: 227px;
                height: 55px;

                .item_com {
                    width: 227px;
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        color: #43FFD2;
                        font-family: "Oswald";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.56px;
                        text-transform: uppercase;
                    }

                    input {
                        width: 100px;
                        height: 1px;
                        background: #FFF;
                    }

                    p {
                        color: #FFF;
                        font-family: "Oswald";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: 0.48px;
                        text-transform: uppercase;
                    }
                }
            }

            .item {
                width: 227px;
                height: 110px;
                display: flex;

                .item_right {
                    width: 226px;
                    height: 100px;
                    display: flex;
                    flex-direction: row;

                    .item_left {
                        width: 224px;
                        height: 110px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: flex-start;

                        h5 {
                            color: #43FFD2;
                            font-family: "Oswald";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 0.56px;
                            text-transform: uppercase;
                        }
                    }

                    .item_gauche {
                        width: 2px;
                        height: 40px;
                        margin-top: 20px;

                        hr {
                            width: 1px;
                            height: 40px;
                            background: #43FFD2;
                        }
                    }
                }

            }

            .item button {
                width: 223px;
                height: 50px;
                flex-shrink: 0;
                background: transparent;
                color: #FFF;
                font-family: "Oswald";
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.2px;
                text-transform: uppercase;
            }
        }
    }

    .container_com {
        width: 750px;
        height: 1150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
        margin-top: 700px;
        position: absolute;
        z-index: -17;
        .container_bas {
            width: 747.738px;
            height: 173.928px;
            transform: rotate(-71.859deg);
            flex-shrink: 0;
            border-radius: 747.738px;
            background: #43FFD2;
            filter: blur(125px);
            margin-left: -350px;
            z-index: -7;
        }

        .container_derrier {
            width: 550px;
            height: 360px;
            transform: rotate(32.828deg);
            border-radius: 504px;
            background: #7D2253;
            filter: blur(125px);
            margin-left: -300px;
            z-index: -6;
        }
    }

    .last_commun {
        width: 100%;
        height: 540px;

        .bas_commun {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: row;
            z-index: -18;



            .bas_begin {
                width: 30%;
                height: 200px;

                .bas_left {
                    width: 99.587px;
                    height: 211.054px;
                    transform: rotate(21.097deg);
                    flex-shrink: 0;
                    background-color: #43FFD2;
                    filter: blur(125px);
                    margin-top: -5px;
                    position: absolute;
                    z-index: -18;
                }
            }

            .bas_part {
                width: 70%;
                height: 195px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 120px;

                .bas_center {
                    width: 450px;
                    height: 120.054px;
                    transform: rotate(21.097deg);
                    flex-shrink: 0;
                    border-radius: 879.44px;
                    background: #43FFD2;
                    filter: blur(125px);
                    position: absolute;
                    z-index: -16;
                }

                .bas_right {
                    width: 500px;
                    height: 400px;
                    transform: rotate(32.828deg);
                    flex-shrink: 0;
                    background-color: #7D2253;
                    filter: blur(125px);
                    position: absolute;
                    margin-left: 490px;
                    z-index: -17;
                }
            }
        }


        footer {
            width: 100%;
            height: 337px;
            display: flex;
            flex-direction: row;
            background: #040A0A;

            .footer_commun {
                width: 90%;
                height: 310px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                gap: 100px;
                margin-top: 15px;




                .prop_commun {
                    width: 55%;
                    height: 290px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 41px;

                    .prop {
                        width: 244px;
                        height: 290px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .prop_com {
                            width: 244px;
                            height: 140px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h1 {
                                color: #43FFD2;
                                font-family: "Oswald";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: 0.56px;
                                text-transform: uppercase;
                            }

                            p {
                                color: #FFF;
                                font-family: "Oswald";
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                letter-spacing: 0.48px;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .row_commun {
                        width: 345px;
                        height: 290px;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 64px;

                        .row {
                            width: 160px;
                            height: 260px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h2 {
                                color: #43FFD2;
                                font-family: "Oswald";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: 0.56px;
                                text-transform: uppercase;
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                li {
                                    color: #FFF;
                                    font-family: "Oswald";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                    letter-spacing: 0.48px;
                                    text-transform: uppercase;
                                    list-style: none;
                                }
                            }

                        }

                        .bouquet {
                            width: 120px;
                            height: 255px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h3 {
                                color: #43FFD2;
                                font-family: "Oswald";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: 0.56px;
                                text-transform: uppercase;
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 6px;

                                li {
                                    color: #FFF;
                                    font-family: "Oswald";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                    letter-spacing: 0.48px;
                                    text-transform: uppercase;
                                    list-style: none;
                                }
                            }

                        }
                    }
                }

                .nav_commun {
                    width: 45%;
                    height: 292px;
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    .nav_bas {
                        width: 180px;
                        height: 235px;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                        p {
                            color: #43FFD2;
                            font-family: "Oswald";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0.56px;
                            text-transform: uppercase;
                        }
                    }

                    .adress_end {
                        width: 357px;
                        height: 290px;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        .address_com {
                            width: 266px;
                            height: 295px;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            .email {
                                width: 265px;
                                height: 60px;
                                display: flex;
                                flex-direction: column;
                                gap: 6px;

                                h1 {
                                    color: #43FFD2;
                                    font-family: "Oswald";
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 1.4px;
                                    text-transform: uppercase;
                                }

                                p {
                                    color: #FFF;
                                    font-family: "Oswald";
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }
                            }

                            .rue {
                                width: 150px;
                                height: 75px;
                                display: flex;
                                flex-direction: column;
                                gap: 6px;

                                h1 {
                                    color: #43FFD2;
                                    font-family: "Oswald";
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 1.4px;
                                    text-transform: uppercase;
                                }

                                p {
                                    color: #FFF;
                                    font-family: "Oswald";
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }
                            }

                            .phone {
                                width: 175px;
                                height: 55px;
                                display: flex;
                                flex-direction: column;
                                gap: 6px;

                                h1 {
                                    color: #43FFD2;
                                    font-family: "Oswald";
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 1.4px;
                                    text-transform: uppercase;
                                }

                                p {
                                    color: #FFF;
                                    font-family: "Oswald";
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }
                            }
                        }

                        .social_end {
                            width: 200px;
                            height: 24px;
                            display: flex;
                            flex-direction: row;
                            gap: 15px;
                        }

                    }
                }

            }
        }
    }

}
.countResults {
    font-size: xx-large;
    text-align: start;
    padding: 20px;
}