@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant/Cormorant-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #040A0A;
}

nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 3;
  position: relative;
  background: transparent;
}
nav .logo {
  width: 10%;
}
nav .logo img {
  background: transparent;
}
nav .links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: transparent;
}
nav .links li {
  background: transparent;
}
nav .links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  color: #FFF;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
}
nav .links li a img {
  background: transparent;
}
nav .navinfo {
  width: 20%;
  display: flex;
  gap: 36px;
  margin: 0 auto;
}
nav .navinfo li {
  background: transparent;
}
nav .navinfo li a {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.showback {
  width: 100%;
  position: relative;
}
.showback .img1 {
  position: absolute;
  right: 0;
}
.showback .img2 {
  position: absolute;
  top: 550px;
}
.showback .img3 {
  position: absolute;
  right: 0;
  top: 550px;
}
.showback .img4 {
  position: absolute;
  right: 0;
  top: 50px;
}

.showcase {
  width: 70%;
  margin: 153px auto;
  position: relative;
}
.showcase h2.first {
  color: #FFF;
  font-family: "Cormorant";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.showcase h2.second {
  color: #FFF;
  font-family: "Cormorant";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  left: 200px;
}
.showcase p.title {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  position: absolute;
  top: 280px;
  left: 200px;
}
.showcase p.header {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  position: absolute;
  top: 330px;
  left: 200px;
}
.showcase .overside {
  display: flex;
  position: relative;
  top: 260px;
  left: 200px;
  gap: 50px;
}
.showcase .overside button {
  width: 255px;
  height: 50px;
  background: #7D2253;
  border: #6f1846;
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.showcase .overside p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.footer {
  height: 500px;
  position: relative;
  background: #000;
  margin-top: 750px;
}
.footer .innerfoot {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.footer .innerfoot .info1 {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.footer .innerfoot .info1 img {
  width: 25px;
  height: 60px;
  margin-bottom: 10px;
}
.footer .innerfoot .info1 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .innerfoot .info1 p {
  width: 80%;
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info2 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer .innerfoot .info2 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info3 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .innerfoot .info3 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer .innerfoot .info4 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.footer .innerfoot .info5 span {
  color: #43FFD2;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .innerfoot .info5 p {
  color: #FFF;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .innerfoot .info5 .innerinfo {
  margin-bottom: 20px;
}
.footer .innerfoot .info5 .socialmedias {
  margin-top: 38px;
}/*# sourceMappingURL=error.css.map */